<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4"><%= @lesson.title %></h1>
      <p class="lead"><%= @lesson.content %></p>

      <h2 class="mt-4">Forums</h2>
      <% if @forums.any? %>
        <ul class="list-group">
          <% @forums.each do |forum| %>
            <li class="list-group-item">
              <%= link_to forum.title, course_lesson_forum_path(@course, @lesson, forum), class: "btn btn-link" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="alert alert-info mt-3" role="alert">
          No forums available for this lesson.
        </div>
      <% end %>

      <div class="mt-4">
        <%= link_to 'New Forum', new_course_lesson_forum_path(@course, @lesson), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>